@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

:root {
  font-size: 16px;
  --nav-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  --container-width: 996px;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  -webkit-box-shadow: var(--nav-box-shadow);
  -moz-box-shadow: var(--nav-box-shadow);
  box-shadow: var(--nav-box-shadow);
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  padding: 1rem;
  margin: 0 auto;
}

.add-btn {
  padding: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 10px;
}

.add-btn:hover {
  background-color: #e2e8f0;
}

#books-container {
  display: grid;
  max-width: var(--container-width);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 1rem;
  gap: 1rem;
  margin: 0 auto;
}

.book {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.book-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.book-form>div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.book-title {
  font-size: 1.5rem;
}

.book-detail {
  font-size: 1rem;
}

.hidden {
  display: none;
}

.edit-button,
.delete-button,
.save-button {
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

.delete-button {
  background-color: #ff0000;
  color: #ffffff;
}

.edit-button {
  background-color: #708090;
  color: #ffffff;
}

.save-button {
  background-color: #008000;
  color: #ffffff;
}

.book-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 0.5rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

footer>a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input:read-only {
  outline: none;
  border: 1px solid transparent
}

input {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid black;
}

input:not(:read-only) {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}